@import 'tailwindcss';

/* デザイントークン */
@theme {
  /* スペーシング（1単位 = 1px） */
  --spacing: 0.1rem;

  /* フォント */
  --font-jp: ;
  --font-en: ;

  /* font-size（基準幅: 1440px） */
  --text-*: initial;

  --text-: ;

  /* 色 */
  --color-*: initial;

  --color-white: ;
  --color-black: ;

  --color-accent: ;
}

/* ベーススタイル */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    font-family: var(--font-jp);
    line-height: 1; /* プロジェクトごとに書き換え */
    color: var(--color-black); /* プロジェクトごとに書き換え */
    font-feature-settings: 'palt';
    font-weight: 400;
    background: var(--color-); /* プロジェクトごとに書き換え */
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  /* 日本語の禁則処理 */
  p,
  li,
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: break-word;
    /* word-break: auto-phrase; */
    /* text-wrap: pretty; */
  }
}
