@import 'tailwindcss';

/* デザイントークン */
@theme {
  /* スペーシング（1単位 = 1px） */
  --spacing: 0.1rem;

  /* フォント */
  --font-jp: ;
  --font-en: ;

  /* font-size（基準幅: 1440px） */
  --text- : ;


  /* 色 */
  --color-*: initial;

  --color-white: ;
  --color-black: ;

  --color-accent: ;
}

/* ベーススタイル */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: min(calc(10 / 375 * 100vw), 10px);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  @media (min-width: 768px) {
    html {
      font-size: max(10px, calc(10 / 1440 * 100vw));
    }
  }

  body {
    font-family: var(--font-jp);
    line-height: 1;
    color: var(--color-black);
    font-feature-settings: 'palt';
    font-weight: 400;
    background: var(--color-);
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  /* 日本語の禁則処理 */
  p,
  li,
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: break-word;
    /* word-break: auto-phrase; */
    text-wrap: pretty;
  }
}
